@page "/addpermission/{Title}"
@using Application.DTOs.Response.Account
@using Application.Extentions
@using Microsoft.AspNetCore.Authorization
@inject IStringLocalizer<CommonResources> _localizer

@attribute [Authorize(Policy = "Admin")]
@if (_roles.Count <= 0 || _model == null)
{
    <p><em>@_localizer["Loading"]...</em></p>
}
else
{
      <RadzenRow>
        <RadzenColumn Size="12" SizeSM="12">
            <RadzenLink Text="@_localizer["Detail.BackToList"]" Path="/permissionlist" Icon="arrow_back_ios" Style="margin-bottom: 1rem;" />
        </RadzenColumn>
    </RadzenRow>
    <RadzenTabs />
    <RadzenRow AlignItems="AlignItems.Start">
        <RadzenColumn Size="12" SizeSM="12">
            <RadzenText TextStyle="TextStyle.Body1"><strong>@Title</strong></RadzenText>
        </RadzenColumn>
    </RadzenRow>
    <RadzenTemplateForm Data="@_model" Submit="@((PermissionsListResponseDTO args) => { Submit(args); })">
        <RadzenRow Gap="2rem" class="rz-p-0 rz-p-lg-4">
            <RadzenColumn Size="12" SizeMD="12">
                <RadzenFieldset Text="@_localizer["Permission information"]" Disabled="@_disable">
                    <RadzenStack Gap="5px">
                        <RadzenRow AlignItems="AlignItems.Center" class="mt-4">
                            <RadzenColumn SizeXS="12" SizeSM="6">
                                <RadzenFormField Text="@_localizer["Permission.Name"]" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenTextBox Name="_txtName" @bind-Value="@_model.Name" Placeholder="Typing..." />
                                </RadzenFormField>
                                <RadzenRequiredValidator Component="_txtName" Popup="false" Style="position: absolute" />
                                <RadzenRegexValidator Component="_txtName" Text="Only English letters allowed" Pattern="^[a-zA-Z\s]+$" />
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="6">
                                <RadzenFormField Text="@_localizer["Description"]" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenTextBox Name="_txtDescription" @bind-Value="@_model.Description" Placeholder="Typing..." />
                                </RadzenFormField>
                                <RadzenRequiredValidator Component="_txtDescription" Popup="false" Style="position: absolute" />
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="12">
                                <RadzenFormField Text="@_localizer["Role"]" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenDropDown @bind-Value=@_selectedRoles Data=@_roles Name="_dropDownRoles"
                                                    TextProperty="@nameof(GetRoleResponseDTO.Name)" ValueProperty="@nameof(GetRoleResponseDTO.Id)"
                                                    Multiple=true AllowClear=true Placeholder="@_localizer["Select"]" Chips=true Disabled="@_disable" />
                                </RadzenFormField>
                            </RadzenColumn>
                        </RadzenRow>
                    </RadzenStack>
                </RadzenFieldset>
            </RadzenColumn>
        </RadzenRow>
        <RadzenStack Orientation="Radzen.Orientation.Horizontal" JustifyContent="Radzen.JustifyContent.Center" Gap="1rem" Class="rz-mt-8 rz-mb-4">
            <RadzenButton ButtonType="Radzen.ButtonType.Submit" Size="ButtonSize.Large" Icon="save" Text="@_localizer["Save"]" Visible="@_visibleBtnSubmit"/>
        </RadzenStack>
    </RadzenTemplateForm>
}