@using Application.Extentions
@using Domain.Enums
@using Domain.Entity.WMS
@using Microsoft.AspNetCore.Authorization

@inject IStringLocalizer<CommonResources> _localizer

@attribute [Authorize(Policy = "Admin")]
@if (_model == null)
{
    <p><em>@_localizer["Loading"]...</em></p>
}
else
{
    <RadzenTemplateForm Data="@_model" Submit="@((Bin args) => { Submit(args); })">
        <RadzenFieldset Text="@_localizer["Bin.Information"]">
            <RadzenRow Gap="2rem" class="mt-4">
                <RadzenColumn SizeXS="12" SizeSM="12">
                    <RadzenFormField Text="@_localizer["Bin.Code"]" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                        <RadzenTextBox Name="_txtBinCode" @bind-Value="@_model.BinCode" Placeholder="Typing..." />
                    </RadzenFormField>
                    <RadzenRequiredValidator Component="_txtBinCode" Popup="false" Style="position: absolute" />
                </RadzenColumn>
                <RadzenColumn SizeXS="12" SizeSM="12">
                    <RadzenFormField Text="@_localizer["Remarks"]" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                        <RadzenTextArea @bind-Value=@_model.Remarks
                                        Style="width: 100%" aria-label="Auto-resize" />
                    </RadzenFormField>
                </RadzenColumn>
            </RadzenRow>
        </RadzenFieldset>
        <RadzenStack Orientation="Radzen.Orientation.Horizontal" JustifyContent="Radzen.JustifyContent.Center" Gap="1rem" Class="rz-mt-8 rz-mb-4">
            <RadzenButton ButtonType="Radzen.ButtonType.Submit" Size="ButtonSize.Large" Icon="save" Text="@_localizer["Save"]" Visible="@VisibleBtnSubmit" />
        </RadzenStack>
    </RadzenTemplateForm>
}