@page "/adduser/{Title}"
@using Application.DTOs.Request.Account
@using Application.DTOs.Response.Account
@using Domain.Enums
@using Domain.Entity.authp.Commons
@using Microsoft.AspNetCore.Authorization
@inject IStringLocalizer<CommonResources> _localizer

@attribute [Authorize]
@if (_roles.Count <= 0 || _model == null || _tenantList.Count <= 0)
{
    <p><em>@_localizer["Loading"]...</em></p>
}
else
{
    <RadzenRow>
        <RadzenColumn Size="12" SizeSM="12">
            <RadzenLink Text="@_localizer["Detail.BackToList"]" Path="/userlist" Icon="arrow_back_ios" Style="margin-bottom: 1rem;" />
        </RadzenColumn>
    </RadzenRow>
    <RadzenTabs />
    <RadzenRow>
        <RadzenColumn Size="12" SizeSM="6">
            <RadzenText TextStyle="TextStyle.Body1"><strong>@Title</strong></RadzenText>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeSM="6">
            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" AlignItems="AlignItems.Center" Gap=" 5px">
                <RadzenButton Click=@(args => PrintLable()) Variant="Variant.Flat" Shade="Shade.Dark"
                              Text="@_localizer["PrintLabel"]" Icon="print" ButtonStyle="ButtonStyle.Success" />
                <RadzenButton Click=@(args => PrintLable1()) Variant="Variant.Flat" Shade="Shade.Dark"
                              Text="Print label 1" Icon="print" ButtonStyle="ButtonStyle.Success" Visible="false" />
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
    <RadzenTemplateForm Data="@_model" Submit="@((CreateAccountRequestDTO args) => { Submit(args); })">
        <RadzenRow Gap="2rem" class="rz-p-0 rz-p-lg-4">
            <RadzenColumn Size="12" SizeMD="12">
                <RadzenFieldset Text="@_localizer["UesrDetail.Information"]" Disabled="@_disable">
                    <RadzenStack Gap="5px">
                        <RadzenRow AlignItems="AlignItems.Center" class="mt-4">
                            <RadzenColumn SizeXS="12" SizeSM="6">
                                <RadzenFormField Text="@_localizer["UserName"]" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenTextBox Name="_txtUserName" @bind-Value="@_model.UserName" Placeholder="Typing..." />
                                </RadzenFormField>
                                <RadzenRequiredValidator Component="_txtUserName" Popup="false" Style="position: absolute" />
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="6" Visible=@Title.Contains(_localizer["Detail.Create"])>
                                <RadzenFormField Text="@_localizer["Password"]" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <ChildContent>
                                        <RadzenTextBox Name="" @bind-Value="@_model.Password" Visible="@(!password)" />
                                        <RadzenPassword @bind-Value="@_model.Password" Visible="@password" />
                                    </ChildContent>
                                    <End>
                                        <RadzenButton Icon="@(password ? "visibility" : "visibility_off")" Click="TogglePassword"
                                                      Variant="Variant.Text" Size="ButtonSize.Small" />
                                    </End>
                                </RadzenFormField>
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="6">
                                <RadzenFormField Text="@_localizer["Email"]" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenTextBox Name="_txtEmail" @bind-Value="@_model.Email" Placeholder="Typing..." />
                                </RadzenFormField>
                                <RadzenRequiredValidator Component="_txtEmail" Text="@_localizer["Validate.EmailRequried"]" Popup=false Style="position: absolute" />
                                <RadzenEmailValidator Component="_txtEmail" Text="@_localizer["Validate.EmailFormat"]" Popup=false Style="position: absolute" />
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="6">
                                <RadzenFormField Text="@_localizer["Fullname"]" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenTextBox Name="_txtFullName" @bind-Value="@_model.FullName" Placeholder="Typing..." />
                                </RadzenFormField>
                                <RadzenRequiredValidator Component="_txtEmail" Popup="false" Style="position: absolute" />
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="6">
                                <RadzenFormField Text="@_localizer["Role"]" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenDropDown @bind-Value=@_selectedRoles Data=@_roles Name="_dropDownRoles"
                                                    TextProperty="@nameof(GetRoleResponseDTO.Name)" ValueProperty="@nameof(GetRoleResponseDTO.Id)"
                                                    Multiple=true AllowClear=true Chips=true Placeholder="@_localizer["Select"]" Disabled="@_disable" />
                                </RadzenFormField>
                                <RadzenRequiredValidator Component="_dropDownRoles" Text="@_localizer["Validate.Role"]" Popup="false" Style="position: absolute" />
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="6">
                                <RadzenFormField Text="@_localizer["Status"]" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenDropDown @bind-Value=@_selectStatus Data=@(Enum.GetValues(typeof(EnumStatus)).Cast<Enum>()) Name="_dropDownStatus"
                                                    Multiple=false AllowClear=true Placeholder="@_localizer["Select"]" Chips=true Disabled="@_disable" />
                                </RadzenFormField>
                                <RadzenRequiredValidator Component="_dropDownStatus" Text="@_localizer["Required"]" Popup="false" Style="position: absolute" />
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="6">
                                <RadzenFormField Text="@_localizer["UserDetail.SelectTenant"]" Variant="Variant.Outlined"
                                                 Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenDropDown @bind-Value=@_selectedTenantList Data=@_tenantList Name="_dropDownSelectTenant"
                                                    TextProperty="@nameof(TenantAuth.TenantFullName)" Placeholder="@_localizer["Select"]"
                                                    Multiple=true AllowClear=true Chips=true Disabled="@_disable" />
                                </RadzenFormField>
                                <RadzenRequiredValidator Component="_dropDownSelectTenant" Text="@_localizer["UserDetail.SelectTenant"]"
                                                         Popup="false" Style="position: absolute" />
                            </RadzenColumn>
                        </RadzenRow>
                    </RadzenStack>
                </RadzenFieldset>
            </RadzenColumn>
        </RadzenRow>
        @*  <RadzenRow Gap="2rem" class="rz-p-0 rz-p-lg-4">
    <RadzenColumn Size="12" SizeMD="12">
    @if (_tenantList.Count > 0)
    {
    <RadzenFieldset Text="Select Tenant">
    <RadzenDataGrid @ref="_profileGrid" Data="@_tenantList" TItem="TenantAuth" AllowFiltering="true" class="custom-grid"
    FilterPopupRenderMode="PopupRenderMode.OnDemand" AllowPaging="true" PageSize="5" AllowSorting="true"
    AllowColumnPicking="false" AllowColumnResize="true" AllowGrouping="false"
    GridLines="Radzen.DataGridGridLines.Both" AllowAlternatingRows="false"
    ShowPagingSummary=@_showPagerSummary PagingSummaryFormat="@_pagingSummaryFormat" PageSizeOptions="@_pageSizeOptions"
    AllowRowSelectOnRowClick="@allowRowSelectOnRowClick" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
    SelectionMode="DataGridSelectionMode.Multiple" @bind-Value=@_selectedTenantList>
    <Columns>
    <RadzenDataGridColumn Width="60px" Sortable="false" Filterable="false">
    <HeaderTemplate>
    <RadzenCheckBox TabIndex="-1" TriState="false" TValue="bool?" InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "Select all items" }})"
    Value="@(_selectedTenantList == null || _selectedTenantList?.Any() != true ? false : !_tenantList.All(i => _selectedTenantList.Contains(i)) ? null : _tenantList.Any(i => _selectedTenantList.Contains(i)))"
    Change="@(args => _selectedTenantList = args == true ? _tenantList.ToList() : null)" />
    </HeaderTemplate>
    <Template Context="data">
    <RadzenCheckBox TabIndex="-1" TriState="false" Value="@(_selectedTenantList != null && _selectedTenantList.Contains(data))" InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "Select item" }})"
    TValue="bool" Change=@(args => { if(!allowRowSelectOnRowClick) { _profileGrid.SelectRow(data); }}) />
    </Template>
    </RadzenDataGridColumn>
    <RadzenDataGridColumn TItem="TenantAuth" Width="200px" Property="TenantId" Title="Tenant Id" />
    <RadzenDataGridColumn TItem="TenantAuth" Width="200px" Property="ParentDataKey" Title="Parent Data Key" />
    <RadzenDataGridColumn TItem="TenantAuth" Width="200px" Property="TenantFullName" Title="Tenant Full Name" />
    <RadzenDataGridColumn TItem="TenantAuth" Width="200px" Property="IsHierarchical" Title="Is Hierarchical" />
    <RadzenDataGridColumn TItem="TenantAuth" Width="200px" Property="ParentTenantId" Title="Parent Tenant Id" />
    <RadzenDataGridColumn TItem="TenantAuth" Width="200px" Property="DatabaseInfoName" Title="Database Info Name" />
    <RadzenDataGridColumn TItem="TenantAuth" Width="200px" Property="HasOwnDb" Title="Has Own Db" />
    </Columns>
    </RadzenDataGrid>
    </RadzenFieldset>
    }
    </RadzenColumn>
    </RadzenRow> *@
        <RadzenStack Orientation="Radzen.Orientation.Horizontal" JustifyContent="Radzen.JustifyContent.Center" Gap="1rem" Class="rz-mt-8 rz-mb-4">
            <RadzenButton ButtonType="Radzen.ButtonType.Submit" Size="ButtonSize.Large" Icon="save" Text="@_localizer["Save"]" Visible="@_visibleBtnSubmit" />
        </RadzenStack>
    </RadzenTemplateForm>
}