@page "/addunit/{Title}"

@using Application.Extentions
@using Domain.Enums;
@using Domain.Entity.Commons
@using Domain.Entity.WMS
@using Microsoft.AspNetCore.Authorization
@inject IStringLocalizer<CommonResources> _localizerCommon
@inject IStringLocalizer<UnitResources> _localizer

@attribute [Authorize(Policy = "Admin")]
@if (_model == null)
{
    <p><em>@_localizerCommon["Loading"]...</em></p>
}
else
{
    <RadzenRow>
        <RadzenColumn Size="12" SizeSM="12">
            <RadzenLink Text="@_localizerCommon["Detail.BackToList"]" Path="/unitlist" Icon="arrow_back_ios" Style="margin-bottom: 1rem;" />
        </RadzenColumn>
    </RadzenRow>
    <RadzenTabs />
    <RadzenRow AlignItems="AlignItems.Start">
        <RadzenColumn Size="12" SizeSM="12">
            <RadzenText TextStyle="TextStyle.Body1"><strong>@Title</strong></RadzenText>
        </RadzenColumn>
    </RadzenRow>

    <RadzenTemplateForm Data="@_model" Submit="@((Unit args) => { Submit(args); })">
        <RadzenRow Gap="2rem" class="rz-p-0 rz-p-lg-4">
            <RadzenColumn Size="12" SizeMD="12">
                <RadzenFieldset Text="@_localizer["Unit Information"]" Disabled="@_disable">
                    <RadzenStack Gap="5px">
                        <RadzenRow AlignItems="AlignItems.Center" class="mt-3">
                            <RadzenColumn SizeXS="12" SizeSM="4">
                                <RadzenFormField Text="@_localizer["Unit Name"]" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenTextBox Name="_txtUnitName" @bind-Value="@_model.UnitName" Placeholder="Typing..." />
                                </RadzenFormField>
                                <RadzenRequiredValidator Component="_txtUnitName" Popup="false" Style="position: absolute" />
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="4">
                                <RadzenFormField Text="@_localizerCommon["Description"]" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenTextBox Name="_txtDescription" @bind-Value="@_model.Description" Placeholder="Typing..." />
                                </RadzenFormField>
                                <RadzenRequiredValidator Component="_txtDescription" Popup="false" Style="position: absolute" />
                            </RadzenColumn>
                        </RadzenRow>
                    </RadzenStack>
                </RadzenFieldset>
            </RadzenColumn>
        </RadzenRow>
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" Gap="1rem" Class="rz-mt-8 rz-mb-4">
            <RadzenButton ButtonType="ButtonType.Submit" Size="ButtonSize.Large" Icon="save" Text="@_localizerCommon["Save"]" Visible="@_visibleBtnSubmit" />
        </RadzenStack>
    </RadzenTemplateForm>
}

@code {
    string maxLengthValue = "";
    int maxLength = 5;

    string value;

    void OnChange(string value, string name)
    {
    }
}