@using Microsoft.AspNetCore.Components.Authorization
@inject IHttpInterceptorManager _interceptorManager
@implements IDisposable

@inject IStringLocalizer<CommonResources> _localizer

@* phải có dòng này để thay dổi thêm *@
<RadzenTheme Theme="Material" />
@* <RadzenTheme Theme="Standard" /> *@

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (!context.User.Claims.Any())
                    {
                        <WebUIFinal.Pages.Components.RedirectToLogin/>
                    }
                    else
                    {
                        <p role="alert">@_localizer["Sorry, You do not have authorization."]</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">@_localizer["Sorry, there's nothing at this address."]</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {
    protected override void OnInitialized()
    {
        _interceptorManager.RegisterEvent();
        base.OnInitialized();
    }

    public void Dispose()
    {
        _interceptorManager.DisposeEvent();
    }
}