@page "/addsupplier/{Title}"

@using Application.Enums;
@using Domain.Entity.Commons

@if (_model == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenRow>
        <RadzenColumn Size="12" SizeSM="12">
            <RadzenLink Text="Back to Location List" Path="/supplierlist" Icon="arrow_back_ios" Style="margin-bottom: 1rem;" />
        </RadzenColumn>
    </RadzenRow>
    <RadzenTabs />
    <RadzenRow AlignItems="AlignItems.Start">
        <RadzenColumn Size="12" SizeSM="12">
            <RadzenText TextStyle="TextStyle.Body1"><strong>@Title</strong></RadzenText>
        </RadzenColumn>
    </RadzenRow>

    <RadzenTemplateForm Data="@_model" Submit="@((Supplier args) => { Submit(args); })">
        <RadzenRow Gap="2rem" class="rz-p-0 rz-p-lg-4">
            <RadzenColumn Size="12" SizeMD="12">
                <RadzenFieldset Text="Supplier information">
                    <RadzenStack Gap="5px">
                        <RadzenRow AlignItems="AlignItems.Center" class="mt-3">
                            <RadzenColumn SizeXS="12" SizeSM="4">
                                <RadzenFormField Text="Supplier Name" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenTextBox Name="_txtSupplierName" @bind-Value="@_model.SupplierName" Placeholder="Typing..." />
                                </RadzenFormField>
                                <RadzenRequiredValidator Component="_txtSupplierName" Popup="false" Style="position: absolute" />
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="4">
                                <RadzenFormField Text="Company ID" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenTextBox Name="_txtCompanyId" @bind-Value="@_model.CompanyId" Placeholder="Typing..." />
                                </RadzenFormField>
                                <RadzenRequiredValidator Component="_txtCompanyId" Popup="false" Style="position: absolute" />
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="4">
                                <RadzenFormField Text="Data Key" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenTextBox Name="_txtDataKey" @bind-Value="@_model.DataKey" Placeholder="Typing..." />
                                </RadzenFormField>
                                <RadzenRequiredValidator Component="_txtDataKey" Popup="false" Style="position: absolute" />
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="4">
                                <RadzenFormField Text="Supplier Id" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenNumeric Name="_txtSupplierId" @bind-Value="@_model.SupplierId" Placeholder="Typing..." />
                                </RadzenFormField>
                                <RadzenRequiredValidator Component="_txtSupplierId" Popup="false" Style="position: absolute" />
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="4">
                                <RadzenFormField Text="Supplier Code" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenTextBox Name="_txtSupplierCode" @bind-Value="@_model.SupplierCode" Placeholder="Typing..." />
                                </RadzenFormField>
                                <RadzenRequiredValidator Component="_txtSupplierCode" Popup="false" Style="position: absolute" />
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="4">
                                <RadzenFormField Text="Head Office Address" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenTextBox Name="_txtHeadOfficeAddress" @bind-Value="@_model.HeadOfficeAddress" Placeholder="Typing..." />
                                </RadzenFormField>
                                <RadzenRequiredValidator Component="_txtHeadOfficeAddress" Popup="false" Style="position: absolute" />
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="4">
                                <RadzenFormField Text="Head Office Phone" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenTextBox Name="_txtHeadOfficePhone" @bind-Value="@_model.HeadOfficePhone" Placeholder="Typing..." />
                                </RadzenFormField>
                                <RadzenRequiredValidator Component="_txtHeadOfficePhone" Popup="false" Style="position: absolute" />
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="4">
                                <RadzenFormField Text="Head Office Fax" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenTextBox Name="_txtHeadOfficeFax" @bind-Value="@_model.HeadOfficeFax" Placeholder="Typing..." />
                                </RadzenFormField>
                                <RadzenRequiredValidator Component="_txtHeadOfficeFax" Popup="false" Style="position: absolute" />
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="4">
                                <RadzenFormField Text="Billing Address" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenTextBox Name="_txtBillingAddress" @bind-Value="@_model.BillingAddress" Placeholder="Typing..." />
                                </RadzenFormField>
                                <RadzenRequiredValidator Component="_txtBillingAddress" Popup="false" Style="position: absolute" />
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="4">
                                <RadzenFormField Text="Billing Contact Name" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenTextBox Name="_txtBillingContactName" @bind-Value="@_model.BillingContactName" Placeholder="Typing..." />
                                </RadzenFormField>
                                <RadzenRequiredValidator Component="_txtBillingContactName" Popup="false" Style="position: absolute" />
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="4">
                                <RadzenFormField Text="Billing Phone" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenTextBox Name="_txtBillingPhone" @bind-Value="@_model.BillingPhone" Placeholder="Typing..." />
                                </RadzenFormField>
                                <RadzenRequiredValidator Component="_txtBillingPhone" Popup="false" Style="position: absolute" />
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="4">
                                <RadzenFormField Text="Billing Fax" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenTextBox Name="_txtBillingFax" @bind-Value="@_model.BillingFax" Placeholder="Typing..." />
                                </RadzenFormField>
                                <RadzenRequiredValidator Component="_txtBillingFax" Popup="false" Style="position: absolute" />
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="4">
                                <RadzenFormField Text="Billing Mail" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenTextBox Name="_txtBillingMail" @bind-Value="@_model.BillingMail" Placeholder="Typing..." />
                                </RadzenFormField>
                                <RadzenRequiredValidator Component="_txtBillingMail" Popup="false" Style="position: absolute" />
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="4">
                                <RadzenFormField Text="Bank Name" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenTextBox Name="_txtBankName" @bind-Value="@_model.BankName" Placeholder="Typing..." />
                                </RadzenFormField>
                                <RadzenRequiredValidator Component="_txtBankName" Popup="false" Style="position: absolute" />
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="4">
                                <RadzenFormField Text="Bank Branch" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenTextBox Name="_txtBankBranch" @bind-Value="@_model.BankBranch" Placeholder="Typing..." />
                                </RadzenFormField>
                                <RadzenRequiredValidator Component="_txtBankBranch" Popup="false" Style="position: absolute" />
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="4">
                                <RadzenFormField Text="Bank Account Type" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenTextBox Name="_txtBankAccountType" @bind-Value="@_model.BankAccountType" Placeholder="Typing..." />
                                </RadzenFormField>
                                <RadzenRequiredValidator Component="_txtBankAccountType" Popup="false" Style="position: absolute" />
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="4">
                                <RadzenFormField Text="Bank Account Number" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenTextBox Name="_txtBankAccountNumber" @bind-Value="@_model.BankAccountNumber" Placeholder="Typing..." />
                                </RadzenFormField>
                                <RadzenRequiredValidator Component="_txtBankAccountNumber" Popup="false" Style="position: absolute" />
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="4">
                                <RadzenFormField Text="Bank Account Holder" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenTextBox Name="_txtBankAccountHolder" @bind-Value="@_model.BankAccountHolder" Placeholder="Typing..." />
                                </RadzenFormField>
                                <RadzenRequiredValidator Component="_txtBankAccountHolder" Popup="false" Style="position: absolute" />
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="4">
                                <RadzenFormField Text="Jam Charge" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenTextBox Name="_txtJamCharge" @bind-Value="@_model.JamCharge" Placeholder="Typing..." />
                                </RadzenFormField>
                                <RadzenRequiredValidator Component="_txtJamCharge" Popup="false" Style="position: absolute" />
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="4">
                                <RadzenFormField Text="Billing Date" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenDatePicker Name="_txtBillingDate" @bind-Value="@_model.BillingDate" Placeholder="Typing..." />                                    
                                </RadzenFormField>
                                <RadzenRequiredValidator Component="_txtBillingDate" Popup="false" Style="position: absolute" />
                            </RadzenColumn>
                        </RadzenRow>
                        <RadzenRow AlignItems="AlignItems.Center" class="mt-3">
                            <RadzenColumn SizeXS="12" SizeSM="12">
                                <RadzenFormField Text="Remarks" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenTextArea @bind-Value=@_model.Remarks oninput="event.target.style.height = Math.max(event.target.clientHeight, event.target.scrollHeight) + 'px';"
                                                    Change=@(args => OnChange(args, "Auto-resize")) Style="width: 100%" aria-label="Auto-resize" />
                                </RadzenFormField>
                            </RadzenColumn>
                        </RadzenRow>
                        @* <RadzenRow AlignItems="AlignItems.Center">
                    <RadzenColumn SizeXS="12" SizeSM="12">
                    <RadzenFormField Text="Status" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                    <RadzenDropDown @bind-Value=@_selectStatus Data=@(Enum.GetValues(typeof(Status)).Cast<Enum>()) Name="_dropDownStatus"
                    Multiple=false AllowClear=true Placeholder="Select status" Chips=true />
                    <RadzenRequiredValidator Component="_dropDownStatus" Text="Select status" Popup="false" Style="position: absolute" />
                    </RadzenFormField>
                    </RadzenColumn>
                    </RadzenRow> *@
                    </RadzenStack>
                </RadzenFieldset>
            </RadzenColumn>
        </RadzenRow>
        <RadzenStack Orientation="Radzen.Orientation.Horizontal" JustifyContent="Radzen.JustifyContent.Center" Gap="1rem" Class="rz-mt-8 rz-mb-4">
            <RadzenButton ButtonType="Radzen.ButtonType.Submit" Size="ButtonSize.Large" Icon="save" Text="Save" Visible="@_visibleBtnSubmit" />
        </RadzenStack>
    </RadzenTemplateForm>
}

@code {
    string maxLengthValue = "";
    int maxLength = 5;

    string value;

    void OnChange(string value, string name)
    {
    }
}