@page "/supplierlist"

@using Application.Enums
@using Application.Extentions
@using Microsoft.AspNetCore.Authorization
@using WebUIFinal.Core
@using Domain.Entity.Commons

@attribute [Authorize(Roles = ConstantExtention.Roles.WarehouseAdmin)]
@if (_dataGrid == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenRow Gap="2rem" Class="rz-p-0 rz-p-lg-4">
        <RadzenColumn SizeXS="12" SizeMD="12">
            <RadzenStack>
                <RadzenFieldset Text="Supplier list">
                    <RadzenStack Orientation=Radzen.Orientation.Vertical JustifyContent="Radzen.JustifyContent.Center" AlignItems="AlignItems.Stretch" Gap="5px">
                        <RadzenStack Orientation="Radzen.Orientation.Horizontal" JustifyContent="Radzen.JustifyContent.End"
                                     AlignItems="AlignItems.Center" Gap="1rem" Wrap="Radzen.FlexWrap.Wrap" class="rz-mt-2">
                            <RadzenButton Click=@(args => AddNewItemAsync()) Variant="Variant.Flat" Shade="Shade.Dark"
                                          Text="Add New" Icon="add_circle" ButtonStyle="ButtonStyle.Success" />
                        </RadzenStack>
                        <RadzenDataGrid @ref="_profileGrid" Data="@_dataGrid" TItem="Supplier" AllowFiltering="true" class="custom-grid"
                                        FilterPopupRenderMode="PopupRenderMode.OnDemand" AllowPaging="true" PageSize="5" AllowSorting="true"
                                        AllowColumnPicking="true" AllowColumnResize="true" AllowGrouping="true"
                                        GridLines="Radzen.DataGridGridLines.Both" AllowAlternatingRows="false"
                                        ShowPagingSummary=@_showPagerSummary PagingSummaryFormat="@Constants.PagingSummaryFormat" PageSizeOptions="@Constants.PageSizeOptions">
                            <Columns>
                                <RadzenDataGridColumn TItem="Supplier" Filterable="false" TextAlign="TextAlign.Center"
                                                      Frozen="true" FrozenPosition="FrozenColumnPosition.Left" Width="170px">
                                    <HeaderTemplate>
                                        <RadzenText Text="Actions" />
                                    </HeaderTemplate>
                                    <Template Context="data">
                                        <RadzenStack Orientation="Radzen.Orientation.Horizontal" JustifyContent="Radzen.JustifyContent.Center" AlignItems="AlignItems.Center"
                                                     Gap="2px" Wrap="Radzen.FlexWrap.Wrap">
                                            <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="visibility" Variant="Variant.Flat" Shade="Shade.Lighter"
                                                          Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => ViewItemAsync(data.Id))"
                                                          @onclick:stopPropagation="true" />
                                            <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="edit" Variant="Variant.Flat" Shade="Shade.Lighter"
                                                          Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => EditItemAsync(data.Id))"
                                                          @onclick:stopPropagation="true" />
                                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter"
                                                          Size="ButtonSize.Medium" class="my-1 ms-1"
                                                          Click="@(args => DeleteItemAsync(data))"
                                                          @onclick:stopPropagation="true" />
                                        </RadzenStack>
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="Supplier" Width="200px" Property="SupplierName" Title="Supplier Name" />
                                <RadzenDataGridColumn TItem="Supplier" Width="200px" Property="CompanyId" Title="Company Id" />
                                <RadzenDataGridColumn TItem="Supplier" Width="200px" Property="DataKey" Title="Data Key" />
                                <RadzenDataGridColumn TItem="Supplier" Width="200px" Property="SupplierId" Title="Supplier ID" />
                                <RadzenDataGridColumn TItem="Supplier" Width="200px" Property="SupplierCode" Title="Supplier Code" />
                                <RadzenDataGridColumn TItem="Supplier" Width="200px" Property="HeadOfficeAddress" Title="Head Office Address" />
                                <RadzenDataGridColumn TItem="Supplier" Width="200px" Property="HeadOfficePhone" Title="Head Office Phone" />
                                <RadzenDataGridColumn TItem="Supplier" Width="200px" Property="HeadOfficeFax" Title="Head Office Fax" />
                                <RadzenDataGridColumn TItem="Supplier" Width="200px" Property="BillingAddress" Title="Billing Address" />
                                <RadzenDataGridColumn TItem="Supplier" Width="200px" Property="BillingContactName" Title="Billing Contact Name" />
                                <RadzenDataGridColumn TItem="Supplier" Width="200px" Property="BillingPhone" Title="Billing Phone" />
                                <RadzenDataGridColumn TItem="Supplier" Width="200px" Property="BillingFax" Title="Billing Fax" />
                                <RadzenDataGridColumn TItem="Supplier" Width="200px" Property="BillingMail" Title="Billing Mail" />
                                <RadzenDataGridColumn TItem="Supplier" Width="200px" Property="BankName" Title="Bank Name" />
                                <RadzenDataGridColumn TItem="Supplier" Width="200px" Property="BankBranch" Title="Bank Branch" />
                                <RadzenDataGridColumn TItem="Supplier" Width="200px" Property="BankAccountType" Title="Bank Account Type" />
                                <RadzenDataGridColumn TItem="Supplier" Width="200px" Property="BankAccountNumber" Title="Bank Account Number" />
                                <RadzenDataGridColumn TItem="Supplier" Width="200px" Property="BankAccountHolder" Title="Bank Account Holder" />
                                <RadzenDataGridColumn TItem="Supplier" Width="200px" Property="Remarks" Title="Remarks" />
                                <RadzenDataGridColumn TItem="Supplier" Width="200px" Property="JamCharge" Title="JamCharge" />
                                <RadzenDataGridColumn TItem="Supplier" Width="200px" Property="BillingDate" Title="Billing Date" />
                                <RadzenDataGridColumn TItem="Supplier" Width="200px" Property="CreateAt" Title="Create Date" />
                            </Columns>
                        </RadzenDataGrid>
                    </RadzenStack>
                </RadzenFieldset>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
}