@page "/detailsupplier/{Title}"

@using Application.Extentions
@using Domain.Enums;
@using Domain.Entity.Commons
@using Microsoft.AspNetCore.Authorization
@inject IStringLocalizer<CommonResources> _localizerCommon
@inject IStringLocalizer<SupplierResources> _localizer

@attribute [Authorize(Policy = "Admin")]
@if (_model == null)
{
    <p><em>@_localizerCommon["Loading"]...</em></p>
}
else
{
    <RadzenRow>
        <RadzenColumn Size="12" SizeSM="12">
            <RadzenLink Text="@_localizerCommon["Detail.BackToList"]" Path="/supplierlist" Icon="arrow_back_ios" Style="margin-bottom: 1rem;" />
        </RadzenColumn>
    </RadzenRow>
    <RadzenTabs />
    <RadzenRow AlignItems="AlignItems.Start">
        <RadzenColumn Size="12" SizeSM="12">
            <RadzenText TextStyle="TextStyle.Body1"><strong>@Title</strong></RadzenText>
        </RadzenColumn>
    </RadzenRow>

    <RadzenTemplateForm Data="@_model" Submit="@((Supplier args) => { Submit(args); })">
        <RadzenRow Gap="2rem" class="rz-p-0 rz-p-lg-4">
            <RadzenColumn Size="12" SizeMD="12">
                <RadzenFieldset Text="@_localizer["Supplier information"]" Disabled="@isDisabled">
                    <RadzenStack Gap="5px">
                        <RadzenRow AlignItems="AlignItems.Center" class="mt-3">
                            <RadzenColumn SizeXS="12" SizeSM="4">
                                <RadzenFormField Text="@_localizer["Supplier Id"]" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenNumeric Name="_txtSupplierId" @bind-Value="@_model.SupplierId" Placeholder="Typing..." />
                                </RadzenFormField>
                                <RadzenRequiredValidator Component="_txtSupplierName" Popup="false" Style="position: absolute" />
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="4">
                                <RadzenFormField Text="@_localizer["Supplier Name"]" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenTextBox Name="_txtSupplierName" @bind-Value="@_model.SupplierName" Placeholder="Typing..." />
                                </RadzenFormField>
                                <RadzenRequiredValidator Component="_txtSupplierName" Popup="false" Style="position: absolute" />
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="4">
                                <RadzenFormField Text="@_localizer["Tenant ID"]" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenDropDown @bind-Value="selectStatus" Data="@tenants" TextProperty="TenantFullName" ValueProperty="TenantId"
                                                    Name="TenantDropdown"
                                                    Disabled="@isDisabled"
                                                    Placeholder="@_localizerCommon["Select"]"
                                                    AllowClear="true" />
                                </RadzenFormField>
                                <RadzenRequiredValidator Component="TenantDropdown" Popup="false" Style="position: absolute" />
                            </RadzenColumn>
                        </RadzenRow>
                    </RadzenStack>
                </RadzenFieldset>
            </RadzenColumn>
        </RadzenRow>
        <RadzenStack Orientation="Radzen.Orientation.Horizontal" JustifyContent="Radzen.JustifyContent.Center" Gap="1rem" Class="rz-mt-8 rz-mb-4">
            @if (!isDisabled)
            {
                <RadzenButton Click=@(_ => _navigation.NavigateTo("/supplierlist")) Style="background-color:cadetblue" Size="ButtonSize.Large" Icon="cancel" Text="@_localizerCommon["Cancel"]" />
                <RadzenButton ButtonType="Radzen.ButtonType.Submit" Size="ButtonSize.Large" Icon="save" Text="@_localizerCommon["Save"]" />
            }
            else
            {
                <RadzenButton Click=@(_ => _navigation.NavigateTo("/supplierlist")) Style="background-color:cadetblue" Size="ButtonSize.Large" Icon="cancel" Text="@_localizerCommon["Cancel"]" />
                <RadzenButton Click=@(_ => _navigation.NavigateTo($"/detailsupplier/Edit Supplier|{_model.Id}", true)) ButtonType="Radzen.ButtonType.Button" Size="ButtonSize.Large" Icon="edit" Text="@_localizerCommon["Edit"]" />
            }
        </RadzenStack>
    </RadzenTemplateForm>
}

@code {
    string maxLengthValue = "";
    int maxLength = 5;

    string value;

    void OnChange(string value, string name)
    {
    }
}