@page "/detailnumbersequence/{Title}"

@using Application.Extentions
@using Domain.Enums;
@using Microsoft.AspNetCore.Authorization
@using NumberSequenceEntity = Domain.Entity.WMS.NumberSequences;
@inject IStringLocalizer<CommonResources> _localizerCommon
@inject IStringLocalizer<NumberSequenceResources> _localizer

@attribute [Authorize(Policy = "AdminAndSystem")]
@if (_model == null)
{
    <p><em>@_localizerCommon["Loading"]...</em></p>
}
else
{
    <RadzenRow>
        <RadzenColumn Size="12" SizeSM="6">
            <RadzenText TextStyle="TextStyle.Body1"><strong>@Title</strong></RadzenText>
        </RadzenColumn>
        @if (!Title.Contains(_localizerCommon["Detail.Create"]))
        {
            <RadzenColumn Size="12" SizeSM="6">
                <RadzenStack Orientation="Radzen.Orientation.Horizontal" JustifyContent="Radzen.JustifyContent.End" AlignItems="AlignItems.Center" Gap=" 5px">
                    <RadzenButton Click=@(args => DeleteItemAsync(_model)) Variant="Variant.Flat" Shade="Shade.Dark"
                                  Text="@_localizerCommon["Delete"]" Icon="cancel" ButtonStyle="ButtonStyle.Danger" />
                </RadzenStack>
            </RadzenColumn>
        }
    </RadzenRow>
    <RadzenTemplateForm Data="@_model" Submit="@((NumberSequenceEntity args) => { Submit(args); })">
        <RadzenRow Gap="2rem" class="rz-p-0 rz-p-lg-4">
            <RadzenColumn Size="12" SizeMD="12">
                <RadzenFieldset Text="@_localizerCommon["Information"]" Disabled="@isDisabled">
                    <RadzenStack Gap="5px">
                        <RadzenRow AlignItems="AlignItems.Center" class="mt-4">
                            <RadzenColumn SizeXS="12" SizeSM="6">
                                <RadzenFormField Text="@_localizer["Journal Type"]" Variant="Variant.Outlined" Style="display:flex; flex-direction:column; align-items:stretch; width:100%">
                                    <RadzenDropDown @bind-Value="_model.JournalType"
                                                    Data="@warehouseTransTypes"
                                                    TextProperty="Text"
                                                    ValueProperty="Value"
                                                    Name="_dropDownJournalType"
                                                    Disabled="@isDisabled"
                                                    Placeholder="" AllowClear="true" Multiple=false Chips=true>
                                    </RadzenDropDown>

                                </RadzenFormField>
                                <RadzenRequiredValidator Component="_dropDownJournalType" Popup="false" Style="position: absolute" />
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="6">
                                <RadzenFormField Text="@_localizer["Prefix"]" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenTextBox Name="_txtPrefix" @bind-Value="@_model.Prefix" Placeholder="@_localizerCommon["Typing..."]" />
                                </RadzenFormField>
                                <RadzenRequiredValidator Component="_txtPrefix" Popup="false" Style="position: absolute" />
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="6">
                                <RadzenFormField Text="@_localizer["Sequence Length"]" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenNumeric Name="_numSequenceLength" @bind-Value="@_model.SequenceLength" Placeholder="@_localizerCommon["Typing..."]" />
                                </RadzenFormField>
                                <RadzenRequiredValidator Component="_numSequenceLength" Popup="false" Style="position: absolute" />
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="6">
                                <RadzenFormField Text="@_localizer["Current Sequence No."]" Variant="Variant.Outlined" Style="display:flex;flex-direction:column;align-items:stretch;width:100%">
                                    <RadzenNumeric Name="_numCurrentSequenceNo" @bind-Value="@_model.CurrentSequenceNo" Placeholder="@_localizerCommon["Typing..."]" />
                                </RadzenFormField>
                                <RadzenRequiredValidator Component="_numCurrentSequenceNo" Popup="false" Style="position: absolute" />
                            </RadzenColumn>
                        </RadzenRow>
                    </RadzenStack>
                </RadzenFieldset>
            </RadzenColumn>
        </RadzenRow>
        <RadzenStack Orientation="Radzen.Orientation.Horizontal" JustifyContent="Radzen.JustifyContent.Center" Gap="1rem" Class="rz-mt-8 rz-mb-4">
            @if (!isDisabled)
            {
                <RadzenButton Click=@(_ => _navigation.NavigateTo("/numbersequence")) Style="background-color:cadetblue" Size="ButtonSize.Large" Icon="cancel" Text="@_localizerCommon["Cancel"]" />
                <RadzenButton ButtonType="Radzen.ButtonType.Submit" Size="ButtonSize.Large" Icon="save" Text="@_localizerCommon["Save"]" />
            }
            else
            {
                <RadzenButton Click=@(_ => _navigation.NavigateTo("/numbersequence")) Style="background-color:cadetblue" Size="ButtonSize.Large" Icon="cancel" Text="@_localizerCommon["Cancel"]" />
                <RadzenButton Click=@(_ => _navigation.NavigateTo($"/detailnumbersequence/Edit Number Sequence|{_model.Id}", true)) ButtonType="Radzen.ButtonType.Button" Size="ButtonSize.Large" Icon="edit" Text="@_localizerCommon["Edit"]" />
            }
        </RadzenStack>
    </RadzenTemplateForm>
}