@page "/numbersequencelist"

@using Application.Enums
@using Application.Extentions
@using Microsoft.AspNetCore.Authorization
@using NumberSequenceEntity = Domain.Entity.WMS.NumberSequences;
@using WebUIFinal.Core

@attribute [Authorize(Roles = ConstantExtention.Roles.WarehouseAdmin)]
@if (_numberSequences == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenTemplateForm Data="@_searchModel" Submit="@((NumberSequenceSearchModel args) => { OnSearch(args); })">
        <RadzenRow Gap="2rem" class="rz-p-0 rz-p-lg-4">
            <RadzenColumn Size="12" SizeMD="12">
                <RadzenFieldset Text="Search Number Sequence" Disabled="@isDisabled">
                    <RadzenStack Gap="5px">
                        <RadzenRow AlignItems="AlignItems.Center">
                            <RadzenColumn SizeXS="12" SizeSM="3">
                                <RadzenFormField Text="Journal Type" Variant="Variant.Outlined" Style="width:100%">
                                    <RadzenTextBox Name="JournalType" @bind-Value="@_searchModel.JournalType" Placeholder="Enter journal type" />
                                </RadzenFormField>
                            </RadzenColumn>
                            <RadzenColumn SizeXS="12" SizeSM="3">
                                <RadzenFormField Text="Prefix" Variant="Variant.Outlined" Style="width:100%">
                                    <RadzenTextBox Name="Prefix" @bind-Value="@_searchModel.Prefix" Placeholder="Enter prefix" />
                                </RadzenFormField>
                            </RadzenColumn>
                            <RadzenColumn SizeXS="6" SizeSM="3">
                                <RadzenStack Orientation="Radzen.Orientation.Horizontal" JustifyContent="Radzen.JustifyContent.Center" AlignItems="AlignItems.Center" Gap="1rem" Wrap="Radzen.FlexWrap.Wrap" class="rz-mt-2">
                                    <RadzenButton Variant="Variant.Flat" Text="Search" Icon="search" ButtonType="Radzen.ButtonType.Submit" Size="ButtonSize.Large" />
                                </RadzenStack>
                            </RadzenColumn>
                        </RadzenRow>
                    </RadzenStack>
                </RadzenFieldset>
            </RadzenColumn>
        </RadzenRow>
    </RadzenTemplateForm>
    <RadzenRow Gap="2rem" Class="rz-p-0 rz-p-lg-4">
        <RadzenColumn SizeXS="12" SizeMD="12">
            <RadzenStack>
                <RadzenFieldset Text="Number Sequence">
                    <RadzenStack Orientation=Radzen.Orientation.Vertical JustifyContent="Radzen.JustifyContent.Center" AlignItems="AlignItems.Stretch" Gap="5px">
                        <RadzenStack Orientation="Radzen.Orientation.Horizontal" JustifyContent="Radzen.JustifyContent.End"
                                     AlignItems="AlignItems.Center" Gap="1rem" Wrap="Radzen.FlexWrap.Wrap" class="rz-mt-2">
                            <RadzenButton Click=@(args => AddNewItemAsync()) Variant="Variant.Flat" Shade="Shade.Dark"
                                          Text="Add new" Icon="add_circle" ButtonStyle="ButtonStyle.Success" />
                        </RadzenStack>
                        <RadzenDataGrid @ref="_profileNumberSequenceGrid" Data="@_filteredModel" TItem="NumberSequenceEntity" AllowFiltering="true" class="custom-grid"
                                        FilterPopupRenderMode="PopupRenderMode.OnDemand" AllowPaging="true" PageSize="5" AllowSorting="true"
                                        AllowColumnPicking="true" AllowColumnResize="true" AllowGrouping="true"
                                        GridLines="Radzen.DataGridGridLines.Both" AllowAlternatingRows="false"
                                        ShowPagingSummary=@_showPagerSummary PagingSummaryFormat="@Constants.PagingSummaryFormat" PageSizeOptions="@Constants.PageSizeOptions">
                            <Columns>
                                <RadzenDataGridColumn TItem="NumberSequenceEntity" Filterable="false" TextAlign="TextAlign.Center"
                                                      Frozen="true" FrozenPosition="FrozenColumnPosition.Left" Width="170px">
                                    <HeaderTemplate>
                                        <RadzenText Text="Actions" />
                                    </HeaderTemplate>
                                    <Template Context="data">
                                        <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="visibility" Variant="Variant.Flat" Shade="Shade.Lighter"
                                                      Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => NavigateDetailPage(data.Id))" @onclick:stopPropagation="true" />
                                        <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="edit" Variant="Variant.Flat" Shade="Shade.Lighter"
                                                      Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => EditItemAsync(data.Id))" @onclick:stopPropagation="true" />
                                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter"
                                                      Size="ButtonSize.Medium" class="my-1 ms-1"
                                                      Click="@(args => DeleteItemAsync(data))"
                                                      @onclick:stopPropagation="true" />
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="NumberSequenceEntity" Width="200px" Property="JournalType" Title="Journal Type" />
                                <RadzenDataGridColumn TItem="NumberSequenceEntity" Width="200px" Property="Prefix" Title="Prefix" />
                                <RadzenDataGridColumn TItem="NumberSequenceEntity" Width="200px" Property="SequenceLength" Title="Sequence Length" />
                                <RadzenDataGridColumn TItem="NumberSequenceEntity" Width="200px" Property="CurrentSequenceNo" Title="Current Sequence No." />
                            </Columns>
                        </RadzenDataGrid>
                    </RadzenStack>
                </RadzenFieldset>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
}

@code {
    public class NumberSequenceSearchModel
    {
        public string JournalType { get; set; }
        public string Prefix { get; set; }
    }

    private string searchJournalType;
    private string searchPrefixe;
    private bool isDisabled = false;
    private NumberSequenceSearchModel _searchModel = new NumberSequenceSearchModel();
    private List<NumberSequenceEntity> _filteredModel = new List<NumberSequenceEntity>();

    private void OnSearch(NumberSequenceSearchModel args)
    {
        _filteredModel = _numberSequences;

        if (!string.IsNullOrEmpty(args.JournalType))
        {
            _filteredModel = _numberSequences.Where(_ => _.JournalType.Contains(args.JournalType, StringComparison.OrdinalIgnoreCase)).ToList();
        }

        if (!string.IsNullOrEmpty(args.Prefix))
        {
            _filteredModel = _numberSequences.Where(_ => _.Prefix.Contains(args.Prefix, StringComparison.OrdinalIgnoreCase)).ToList();
        }
        StateHasChanged();
    }
}