@layout PrintLayout

@if (LabelPrintModel.Count <= 0 || LabelPrintModel == null)
{
    <h3 class="w-100 text-center">Please wait...</h3>
}
else
{
    <div id="printableArea" class="grid-container">
        @foreach (var label in LabelPrintModel)
        {
            <div class="label-container">
                <div class="flex-container">
                    <div>
                        <img class="qr-code" src="@label.QrValue" alt="QR Code" id="qrCodeImage" />
                    </div>
                    <div>
                        <div class="info-line">
                            <strong>@label.Title1</strong>
                            <span>@label.Content1</span>
                        </div>
                        <div class="info-line">
                            <strong>@label.Title2</strong>
                            <span>@label.Content2</span>
                        </div>
                        <div class="info-line">
                            <strong>@label.Title3</strong>
                            <span>@label.Content3</span>
                        </div>
                        <div class="info-line">
                            <strong>@label.Title4</strong>
                            <span>@label.Content4</span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
<script>
    function printLabel() {
        window.print();
    }
</script>