@page "/permissionlist"
@using Application.DTOs.Response.Account
@using Application.Extentions
@using Domain.Entity.WMS.Authentication
@using Microsoft.AspNetCore.Authorization

@inject IStringLocalizer<CommonResources> _localizer

@attribute [Authorize(Policy = "Admin")]
@if (_dataGrid == null)
{
    <p><em>@_localizer["Loading"]...</em></p>
}
else
{
    <RadzenRow Gap="2rem" Class="rz-p-0 rz-p-lg-4">
        <RadzenColumn SizeXS="12" SizeMD="12">
            <RadzenStack>
                <RadzenFieldset Text="@_localizer["Permission.List"]">
                    <RadzenStack Orientation=Radzen.Orientation.Vertical JustifyContent="Radzen.JustifyContent.Center" AlignItems="AlignItems.Stretch" Gap="5px">
                        <RadzenStack Orientation="Radzen.Orientation.Horizontal" JustifyContent="Radzen.JustifyContent.End"
                                     AlignItems="AlignItems.Center" Gap="1rem" Wrap="Radzen.FlexWrap.Wrap" class="rz-mt-2">
                            <RadzenButton Click=@(args => AddNewItemAsync()) Variant="Variant.Flat" Shade="Shade.Dark"
                                          Text="@_localizer["Detail.Create"]" Icon="add_circle" ButtonStyle="ButtonStyle.Success" />
                        </RadzenStack>
                        <RadzenDataGrid @ref="_profileGrid" AllowFiltering="true" FilterPopupRenderMode="PopupRenderMode.OnDemand"
                                        AllowPaging="true" PageSize="5" PageSizeText="@_localizer["items per page"]" AllowSorting="true" EmptyText="@_localizer["No records to display."]"
                                        Data="@_dataGrid" TItem="PermissionsListResponseDTO" AllowColumnPicking="false" AllowColumnResize="true" AllowGrouping="false"
                                        GridLines="Radzen.DataGridGridLines.Both" AllowAlternatingRows="false"
                                        ShowPagingSummary=@_showPagerSummary PagingSummaryFormat="@_pagingSummaryFormat" PageSizeOptions="@_pageSizeOptions">
                            <Columns>
                                <RadzenDataGridColumn TItem="PermissionsListResponseDTO" Filterable="false" TextAlign="TextAlign.Center"
                                                      Frozen="true" FrozenPosition="FrozenColumnPosition.Left" Width="120px">
                                    <HeaderTemplate>
                                        <RadzenText Text="@_localizer["Action"]" />
                                    </HeaderTemplate>
                                    <Template Context="data">
                                        <RadzenStack Orientation="Radzen.Orientation.Horizontal" JustifyContent="Radzen.JustifyContent.Center" AlignItems="AlignItems.Center" Gap="2px" Wrap="Radzen.FlexWrap.Wrap">
                                            <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="visibility" Variant="Variant.Flat" Shade="Shade.Lighter"
                                                          Size="ButtonSize.Medium" class="my-1 ms-1"
                                                          Click="@(args => ViewItemAsync(data.Id.ToString()))"
                                                          @onclick:stopPropagation="true" />
                                            <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="edit" Variant="Variant.Flat" Shade="Shade.Lighter"
                                                          Size="ButtonSize.Medium" class="my-1 ms-1"
                                                          Click="@(args => EditItemAsync(data.Id.ToString()))"
                                                          @onclick:stopPropagation="true" />
                                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter"
                                                          Size="ButtonSize.Medium" class="my-1 ms-1"
                                                          Click="@(args => DeleteItemAsync(new PermissionsListResponseDTO(){Id=data.Id,Name=data.Name,AssignedToRoles=data.AssignedToRoles}))"
                                                          @onclick:stopPropagation="true" />
                                        </RadzenStack>
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="PermissionsListResponseDTO" Width="200px" Property="Name" Title="@_localizer["Permission.Name"]" TextAlign="TextAlign.Center" />
                                <RadzenDataGridColumn TItem="PermissionsListResponseDTO" Width="200px" Title="@_localizer["Permission.AssginedToRole"]"
                                                      Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
                                    <Template Context="data">
                                        <RadzenStack Orientation="Radzen.Orientation.Horizontal" JustifyContent="Radzen.JustifyContent.Start" Gap="4px">
                                            @if (data.AssignedToRoles.Count > 0)
                                            {
                                                @foreach (var item in data.AssignedToRoles)
                                                {
                                                    <RadzenBadge BadgeStyle="BadgeStyle.Primary" Text="@item.Name" />
                                                }
                                            }
                                        </RadzenStack>
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="PermissionsListResponseDTO" Width="200px" Property="Description" Title="@_localizer["Description"]" TextAlign="TextAlign.Center" />
                                <RadzenDataGridColumn TItem="PermissionsListResponseDTO" Width="200px" Property="CreateAt" Title="@_localizer["CreatedDate"]" TextAlign="TextAlign.Center" />
                            </Columns>
                        </RadzenDataGrid>
                    </RadzenStack>
                </RadzenFieldset>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
}
